<h2>Your Personal Fitness Journey Starts Here</h2>
<p>Join our community and reach your fitness goals with our personalized workout
  plans.</p>
{{#if logged_in}}
  <p>Welcome back, {{user.name}}!</p>
{{else}}
  <p>Please login or sign up to continue.</p>
{{/if}}